@import "tailwindcss";
@import "./styling/foundation/tokens.css";
@import "./styling/semantic/tokens.css";
@import "./styling/app.css";
@import "./styling/deprecated/button.css";
@import "./styling/deprecated/floating-bottom-nav.css";

body {
  background: var(--app-layer-background);
    /* background: radial-gradient(50% 50% at 50% 50%, var(--blue-30, #A6C8FF) 0%, var(--app-layer-background, #F4F4F4) 100%); */
  color: var(--text-primary);
  font-family: var(--font-family-sans);
  margin: 0;
  padding: 0;
}

.wrapper{
  width: calc(720px - (30px * 2));
  max-width: 100%;
  margin: 0 auto;
}
